<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="New iQapture Application Test Automation Test Suite" parallel="none">

	<listeners>
		<listener class-name="Analyzer.MyTransformer" />
	</listeners>

	<test name="New iQapture App Test Cases" preserve-order="true">
		<classes>
			<!-- <class name="com.testcases.LoginPageTest"></class>
			<class name="com.testcases.BuildAuditPageTest"></class>
			<class name="com.testcases.CaptureAuditsPageTest"></class>
			<class name="com.testcases.AuditAnalysePageTest"></class> -->
			
			<class name="com.testcases.BuildPageTest"></class>
			<class name="com.testcases.CapturePageTest"></class>
			<class name="com.testcases.AnalysePageTest"></class>
			
			<!-- <class name="com.testcases.DashBoardPageTest"></class>
			<class name="com.testcases.TaskBoardPageTest"></class>
			<class name="com.testcases.SettingsPageTest"></class> -->
			
		</classes>
	</test>
</suite>

